* {
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #ffffff;
    --secondary-color: #1f1f1f;
    --tertiary-color: #cecbce;
    font-size: 62.5%;
    font-family: Quicksand;
    background-color: var(--primary-color);
  }
  
  body {
    margin: 0;
    color: var(--secondary-color);
    font-family: Quicksand;
  }

  h1 {
      font-size: 6em;
      font-weight: 700;
  }