*,
*::after,
*::before {
  box-sizing: border-box;
}
  
:root {
    --primary-color: #ffffff;
    --secondary-color: #1f1f1f;
    --tertiary-color: #cecbce;
    font-size: 62.5%;
    font-family: Jost-Book;
}
  
body {
    margin: 0;
    background-image: url("../images/1.png");
    background-size: cover;
}

.container {  
    display: grid;
    margin: auto;
    gap: 2em;
    grid-auto-flow: row;
    grid-template-areas:
      ". header"
      "sidebar main";
    justify-content: center;
}
  
.header { 
    /* grid-area: header;
    font-family: Jost-Book;
    font-size: 2em;
    font-weight: bold;
    text-transform: lowercase;
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
    padding-top: 1em;
    color:#f8eded;
    text-shadow: 3.5px 3.5px #b3b4b2, 1px 1px #b3b4b2, 2px 2px #b3b4b2; */
}   
  
.main-wrapper {
    grid-area: main; 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.main {
    border: 2px solid white;
    margin-top: 3em;
    height: 600px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.main__msg-window {
    background-color: rgb(244, 244, 244);
    opacity: 0.6;
    height: 80%;
    width: 100%;  
}

.main__msg-console {
    display: flex;
    flex-direction: row;
    background-color:rgb(199, 199, 199);
    height: 20%;
    border-top: 2px solid white;
}

form {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.input {
    width: 100%;
    height: 100%;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}

.main__msg-console button {
    font-family: Smallest Pixel-7;
    border: none;
}

.sidebar {
    grid-area: sidebar;
    margin-top: 3em;
    margin-left: 3em;
    height: 600px;
    width: 350px;
    background-color: rgb(244, 244, 244);
    border: 2px solid white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

.sidebar__match li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sidebar__icon {
    height: 50px;
    width: 50px;
    background-color: black;
}