* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #1f1f1f;
  --tertiary-color: #cecbce;
  font-size: 62.5%;
  font-family: Jost-Book;
}

body {
  margin: 0;
  background-image: url("../images/1.png");
  background-size: cover;
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 0.3fr 0.8fr 2.2fr 1.1fr 0.6fr;
  gap: 0px 0px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em;
}

.nav__login-link {
  grid-area: 1 / 1 / 2 / 2;
  color: #393939;
  font-weight: 400;
  font-size: 14px;
  margin-right: 1em;
  text-transform: lowercase;
  font-family: Smallest Pixel-7;
}

.btn {
  background-color: #393939;
  color: var(--primary-color);
  border: none;
  font-weight: normal;
  letter-spacing: 1px;
  border-radius: 25px;
  font-family: inherit;
  font-size: 1.4em;
  padding: 0.5em 1.2em 0.5em 1.2em;
  text-transform: lowercase;
  display: block;
  font-family: Smallest Pixel-7;
}

a {
  text-decoration: none;
}

.logo__container {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  margin: 2em;
  margin-bottom: 5em;
}

h1 {
  font-family: Smallest Pixel-7;
  font-size: 90px;
  /* color: #dda6b9; */
  /* color: #e083e0;
  letter-spacing: -3px;
  text-shadow: 0.5px 0.5px #dd8cd2, 1px 1px #dd8cd2, 2px 2px #dd8cd2,
    2.5px 2.5px #995a91, 3px 3px #995a91, 3.5px 3.5px #995a91, 4px 4px #995a91,
    4.5px 4.5px #393939, 5px 5px #393939, 5.5px 5.5px #393939, 6px 6px #393939,
    6.5px 6.5px #393939, 7px 7px #393939, 7.5px 7.5px #393939, 8px 8px #393939; */
  color: #fffdfd;
  text-shadow: 0.5px 0.5px #393939, 1px 1px #393939, 2px 2px #393939,
    2.5px 2.5px #393939, 3px 3px #393939, 3.5px 3.5px #393939, 4px 4px #393939,
    4.5px 4.5px #393939, 5px 5px #393939, 5.5px 5.5px #393939, 6px 6px #393939,
    6.5px 6.5px #393939, 7px 7px #393939, 7.5px 7.5px #393939, 8px 8px #393939;
}

.intro {
  grid-area: 3 / 1 / 5 / 2;
  padding-left: 10em;
}


.intro > p {
  text-transform: lowercase;
  font-size: 2em;
  color: #2b2a2a;
  font-weight: 400;
  font-family: Jost-Book;
}

.intro > p:last-of-type {
  font-size: 3.5em;
  font-weight: 600;
}

.intro__btn {
  margin-left: 10em;
  margin-top: 2em;
  font-size: 2.1em;
  background-color: #2b2a2a;
  color: var(--primary-color);
  font-family: Smallest Pixel-7;
}

/* .how-to {
  grid-area: 4 / 1 / 5 / 2;
  padding-left: 10em;
  background-color: var(--primary-color);
  padding: 5em 5em 5em 10em;
  display: flex;
  flex-direction: column;
}

.how-to h2 {
  font-size: 4em;
  color: var(--secondary-color);
  font-weight: normal;
  letter-spacing: 0.1em;
}

.how-to__card {
  width: 200px;
  height: auto;
  border: 1px solid red;
} */

.footer {
  grid-area: 5 / 1 / 6 / 2;
  background-color: #393939;
  display: flex;
  flex-direction: row;
  padding-left: 5em;
}

.footer p {
  color: var(--primary-color);
  font-size: 1.4em;
  font-weight: 500;
  padding-top: 1em;
  padding-right: 5em;
}

.footer a {
  color: var(--primary-color);
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  padding: 0em 1.5em 1.5em 0em;
}
